<header id="header-section">
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container">
            <div class="navbar-brand-wrapper d-flex">
                <a href="/"><img src="img/newlogo.png" alt="svitlo.house logo" class="logo" /></a>

                <div class="contacts">
                    <div class="icons">
                        <a href="https://t.me/SvitloHouse">
                            <img data-src="svg/TelegramLogo.svg" alt="telegram logo" width="20" height="20" class="lazyload">
                        </a>

                        <a href="viber://chat?number=+380953257740">
                            <img data-src="svg/Share_Viber_icon.png" alt="viber logo" width="20" height="20" class="lazyload">
                        </a>
                        <a href="tel:+380953257740">
                            <img data-src="svg/local_phone-black.svg" alt="" width="20" height="20"  class="lazyload">
                        </a>
                    </div>
                    <a href="tel:+380953257740">+380953257740</a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="material-icons md-48 secondary">menu</i>
                </button>
            </div>

            <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent" style="flex-grow: 0;">
                <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="#header-section">Главная<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#case-examples-section">Услуги</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#features-section">Как это работает</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#feedback-section">Выгоды клиента</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#contact-section">Контакты</a>
                    </li>
                </ul>
            </div>

            <div class="contacts">
                <div class="icons">
                    <a href="https://t.me/SvitloHouse">
                        <img data-src="./svg/TelegramLogo.svg" alt="telegram logo" width="20" height="20"  class="lazyload">
                    </a>

                    <a href="viber://chat?number=+380953257740">
                        <img data-src="./svg/Share_Viber_icon.png" alt="viber logo" width="20" height="20"  class="lazyload">
                    </a>
                    <a href="tel:+380953257740">
                        <img data-src="./svg/local_phone-black.svg" alt="" width="20" height="20"  class="lazyload">
                    </a>
                </div>
                <a href="tel:+380953257740">+380953257740</a>
            </div>
        </div>
    </nav>
</header>